.dashboard-main {
    width: 100%;
    min-height: 850px;
    position: relative;
    display: flex;
    align-items: center;
    &__content {
        position: relative;
        z-index: 1;
        color: $color-white;
        margin: 150px 0;
        p {
            max-width: 500px;
            line-height: 140%;
            font-size: 2rem;
            margin-top: 30px;
        }
    }
    #home {
        background-image: url('../../assets/imgs/dashboard-imgs/home.jpg');
    }
    #ofert {
        background-image: url('../../assets/imgs/ofert/placeholder5.jpg');
    }
    #form {
        background-image: url('../../assets/imgs/dashboard-imgs/form.jpg');
    }
    #ofert1 {
        background-image: url('../../assets/imgs/dashboard-imgs/ofert.jpg');
    }
    #ofert2 {
        background-image: url('../../assets/imgs/ofert/placeholder.jpg');
    }
    #ofert3 {
        background-image: url('../../assets/imgs/ofert/placeholder2.jpg');
    }
    #ofert4 {
        background-image: url('../../assets/imgs/ofert/placeholder3.jpg');
    }
    #ofert5 {
        background-image: url('../../assets/imgs/ofert/placeholder4.jpg');
    }

    &__bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::before {
            width: 100%;
            height: 100%;
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            background: linear-gradient(90deg, #00B0AB 0%, rgba(0, 176, 171, 0) 100%);
        }
    }
}

@include break-point-down(mb) {
    .dashboard-main {
        min-height: 650px;
        
    }
}