// main colors

$color-black: #000;
$color-white: #fff;

$color-darkest-green: #22454D;
$color-dark-green: #14636C;
$color-green: #1B818C;
$color-light-green: #01B0AB;
$color-lightest-green: #1EA2B1;
$color-super-light-green: #4ACE0C;

$color-bg-gray: #F2F2F2;
$color-gray: #E1E1E1;
$color-red: #F84343;

$color-form-gray: #A1A1A1;
$color-form-textarea: #ECECEC;


